<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 2</title>
</head>
<body>
    <h1>Listings for <span data-th-text="${search.country}"></span></h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td></td>
        </tr>
        <tr data-th-each="l : ${listings}" data-th-object="${l}">
            <td><span data-th-text="${l.name}"></td>
            <td><span data-th-text="${l.price}"></td>
            <td><img data-th-src="${l.image}" width="300" height="200"></td>
            <td>
                <form data-th-action="@{/details/(id = ${l.id})}" method="post">
                    <input type="submit" value="Details" >
                </form>
                <!-- <button type="submit" th:href="@{/details}">Details</button> -->
            </td>
        </tr>
    </table>
    <!-- <input type ="hidden" th:name="p1" th:object="${p1}" />
    <input type ="hidden" th:name="p2" th:object="${p2}" />
    <input type ="hidden" th:name="p3" th:object="${p3}" />
    <input type ="hidden" th:name="p4" th:object="${p4}" /> -->
    <input type ="hidden" th:name="search" th:value="${search}" />
</body>
</html>